.navbar {
    background-color: #E2E42B;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.804);
  }
  
  .title {
    padding-left: 20px;
    transition-duration: 300ms;
    color: white;
  }
  
  
  
  .link {
    padding: 0 20px 0 8.5px;
    transition-duration: 300ms;
    color: white;
  }
  
  .link:hover {
    cursor: pointer;
    color: rgb(58, 51, 51);
    transition-duration: 200ms;
  }
  .title:hover {
    cursor: pointer;
    color: black;
    transition-duration: 200ms;
  }
  
 