.activity-container{
    width: 100%;
    box-shadow: 1px 6px 7px 0px #a6bb3257;
    background-color: rgb(234, 240, 240);
    padding-bottom: 30px;
}

.act-info {
    font-size: 16px;
    width: 30%;

}

.act-title{
    color: ye;
    font-size: 22px;
    width: 30%;
}
@media (min-width:576px) {
    .activity-container {
        width: 90%;
        margin: auto;
    }
}
@media (min-width:768px) {
    .activity-container {
        width: 740px;
        margin: auto;
    }
}

@media (min-width:992px) {
    .activity-container {
        width: 800px;
        margin: auto;
    }
}